---
import { eq } from "drizzle-orm";
import { Board, Sound, db } from "@/lib/schema";
import MainLayout from "@/layouts/MainLayout.astro";
import { Sounds } from "./_components/SoundForm";
const { id } = Astro.params;

const results = await db.select().from(Board).where(eq(Board.id, id!));
const sounds = await db.select().from(Sound).where(eq(Sound.boardId, id!));
const entry = results[0];
if (!entry) throw new Error(`No entry with id ${id}`);
---

<MainLayout>
  <h1>{entry.id}</h1>
  <div class="grid grid-cols-3 gap-3 m-auto max-w-screen-xl">
    <Sounds client:load initialSounds={sounds} />
  </div>
</MainLayout>
