---
import { auth } from "../lib/lucia";
import MainLayout from "@/layouts/MainLayout.astro";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import FormError from "@/components/FormError.astro";
import { signUpValidator } from "./_signup.astro";
import { LuciaError } from "lucia";
import LoginLayout from "./_LoginLayout.astro";

let formError: string | undefined;
let usernameError: string | undefined;
let passwordError: string | undefined;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const parsed = signUpValidator.safeParse(
    Object.fromEntries(formData.entries())
  );
  if (parsed.success) {
    const { username, password } = parsed.data;
    try {
      const user = await auth.useKey(
        "username",
        username.toLowerCase(),
        password
      );
      const session = await auth.createSession({
        userId: user.userId,
        attributes: {},
      });
      Astro.locals.auth.setSession(session);
      return Astro.redirect("/boards/", 302);
    } catch (e) {
      if (
        e instanceof LuciaError &&
        (e.message === "AUTH_INVALID_KEY_ID" ||
          e.message === "AUTH_INVALID_PASSWORD")
      ) {
        formError = "Incorrect username or password";
      } else {
        formError = "An unknown error occurred";
      }
    }
  } else {
    const error = parsed.error.flatten();
    usernameError = error.fieldErrors.username?.join(" ");
    passwordError = error.fieldErrors.password?.join(" ");
  }
}
---

<MainLayout>
  <LoginLayout>
    <main class="w-full max-w-[50ch] mx-auto flex flex-col">
      <h1 class="text-3xl mb-6">Sign in</h1>
      <form method="post" class="mb-3 flex flex-col gap-8">
        {formError ? <FormError>{formError}</FormError> : null}
        <fieldset class="flex flex-col gap-2">
          <label for="username">Username</label>
          <Input name="username" id="username" />
          {usernameError ? <FormError>{usernameError}</FormError> : null}
        </fieldset>
        <fieldset class="flex flex-col gap-2">
          <label for="password">Password</label>
          <Input type="password" name="password" id="password" />
          {passwordError ? <FormError>{passwordError}</FormError> : null}
        </fieldset>
        <Button type="submit">Sign In</Button>
      </form>
      <a href="/signup" class="underline text-center">Sign up</a>
    </main>
  </LoginLayout>
</MainLayout>
