---
import MainLayout from "@/layouts/MainLayout.astro";

const session = await Astro.locals.auth.validate();
if (session) return Astro.redirect("/boards/", 302);
---

<MainLayout>
  <main class="w-full max-w-[50ch] mx-auto flex flex-col">
    <h1 class="text-3xl mb-6">Sign in</h1>
    <a data-astro-reload href="/login/github" class="underline text-center"
      >Sign in with GitHub</a
    >
  </main>
</MainLayout>
