---
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

const session = await Astro.locals.auth.validate();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body class="dark" transition:animate="none">
    <nav>
      <a href="/">Home</a>
      {session ? <pre>{JSON.stringify(session.user, null, 2)}</pre> : null}
    </nav>
    <slot />
  </body>
</html>
