---
import Logo from "@/components/Logo.astro";
import { Button, buttonVariants } from "@/components/ui/button";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

const session = await Astro.locals.auth.validate();
const user = session?.user;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>WOMP</title>
    <ViewTransitions />
  </head>
  <body class="dark" transition:animate="none">
    <nav class="bg-card py-2 mb-4">
      <div class="flex justify-between items-center max-w-screen-xl mx-auto">
        <a href="/boards/"><Logo /></a>
        {
          user ? (
            <form method="POST" action="/logout">
              <Button type="submit" variant="secondary">
                {user.username}
              </Button>
            </form>
          ) : (
            <a class={buttonVariants({ variant: "outline" })} href="/login">
              Login
            </a>
          )
        }
      </div>
    </nav>
    <slot />
  </body>
</html>
